In [1]:
import pandas as pd 

data = pd.read_csv("Alzheimer's.csv")

#Converted the group to dummy variables
data.loc[data.Group=='Nondemented', 'Group'] = 0
data.loc[data.Group=='Demented', 'Group'] = 1
data.loc[data.Group=='Converted', 'Group'] = 2

#Converted the M/F to dummy variables
data.loc[data.Sex=='M', 'Sex'] = 0
data.loc[data.Sex=='F', 'Sex'] = 1

#ToDo
#Fill in SES and Mini Mental State missing sample values
#Use the mean of that category for the value
# Get rid of SES data 

data

,Subject ID,MRI ID,Group,Visit,MR Delay,Sex,Hand,Age,EDUC,SES,Mini Mental State,Clinical Dementia Rating,Estimated total Intracranial Volume,Normalize Whole Brain Volume,Atlas Scaling Factor
0,OAS2_0001,OAS2_0001_MR1,0,1,0,0,R,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,OAS2_0001,OAS2_0001_MR2,0,2,457,0,R,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,OAS2_0002,OAS2_0002_MR1,1,1,0,0,R,75,12,NaN,23.0,0.5,1678,0.736,1.046
3,OAS2_0002,OAS2_0002_MR2,1,2,560,0,R,76,12,NaN,28.0,0.5,1738,0.713,1.010
4,OAS2_0002,OAS2_0002_MR3,1,3,1895,0,R,80,12,NaN,22.0,0.5,1698,0.701,1.034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,OAS2_0185,OAS2_0185_MR2,1,2,842,0,R,82,16,1.0,28.0,0.5,1693,0.694,1.037
369,OAS2_0185,OAS2_0185_MR3,1,3,2297,0,R,86,16,1.0,26.0,0.5,1688,0.675,1.040
370,OAS2_0186,OAS2_0186_MR1,0,1,0,1,R,61,13,2.0,30.0,0.0,1319,0.801,1.331
371,OAS2_0186,OAS2_0186_MR2,0,2,763,1,R,63,13,2.0,30.0,0.0,1327,0.796,1.323
372,OAS2_0186,OAS2_0186_MR3,0,3,1608,1,R,65,13,2.0,30.0,0.0,1333,0.801,1.317

In [2]:
import numpy as np 
from sklearn.model_selection import train_test_split


# Data Drop

data_drop = data.drop(['Hand','Visit','Subject ID','MRI ID'], axis = 1) #axis = 1 means to drop column not row

#get rid of row 360 and 359 bc they are missing alot of data (both SES and MMS)
data_drop = data_drop.drop([360, 359])


#delete all data points that dont have SES in them (this is where they have NaN)
data_drop = data_drop.dropna()

#dementia status is what we want to predict - change this to single target 
group = data_drop[['Group']] 


data_drop = data_drop.drop(['Group'], axis = 1) #axis = 1 means to drop column not row



# give it a label type

group = group.astype('int')

In [3]:
#get a list of columns in pandas object 
names_of_data = data_drop.columns.tolist()

#shuffle = false prevents data split being different everytime
X_train, X_test, y_train, y_test = train_test_split(data_drop, group, test_size=0.2, shuffle = False)

#split test into validate and test, again making sure the data is always the same for consistency
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, shuffle = False)


#Normalizing the data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

print(X_train)

[[-0.95130962 -1.12041026  1.11603735 ...  2.99425414 -0.83124686
  -2.40347907]
 [-0.25637811 -1.12041026  1.23607789 ...  3.0956732  -1.22761288
  -2.45718244]
 [-0.95130962  0.89253021  1.23607789 ... -1.61136421 -0.46130524
   1.90046234]
 ...
 [ 1.41176164  0.89253021 -0.44448976 ... -0.37047222 -0.14421242
   0.28168937]
 [ 2.09300741  0.89253021 -0.32444921 ... -0.39433553  0.0936072
   0.3047051 ]
 [-0.95130962 -1.12041026 -0.92465195 ...  0.49457268 -0.83124686
  -0.59290835]]

In [4]:
#Saving Split Data
df = pd.DataFrame(X_train)
df.to_csv(r'C:\Users\eremiahsfikre\Documents\Github\Eremiahs\Alzheimerstraining2.csv', index = False, header=True)
print(df)

            0        1         2         3         4         5         6  \
0   -0.951310 -1.12041  1.116037 -0.139268 -0.468595 -0.067432 -0.730595
1   -0.256378 -1.12041  1.236078 -0.139268 -0.468595  0.698400 -0.730595
2   -0.951310  0.89253  1.236078  1.158523  0.366213  0.187845 -0.730595
3   -0.133206  0.89253  1.476159  1.158523  0.366213 -0.067432 -0.730595
4   -0.951310 -1.12041  0.275754 -0.788163  1.201020  0.187845 -0.730595
..        ...      ...       ...       ...       ...       ...       ...
207  1.157815 -1.12041  0.995997  0.185180  0.366213  0.698400  0.664776
208 -0.951310  0.89253 -1.044692  0.509628 -1.303402  0.698400 -0.730595
209  1.411762  0.89253 -0.444490  0.509628 -1.303402  0.698400  0.664776
210  2.093007  0.89253 -0.324449  0.509628 -1.303402  0.698400  0.664776
211 -0.951310 -1.12041 -0.924652  0.509628 -1.303402 -0.577986  0.664776

            7         8         9
0    2.994254 -0.831247 -2.403479
1    3.095673 -1.227613 -2.457182
2   -1.611364 -0.461305  1.900462
3   -1.700852 -0.249910  2.038557
4    1.216438 -0.408456 -1.206661
..        ...       ...       ...
207  0.076965 -1.227613 -0.193969
208 -0.483823  0.595671  0.412112
209 -0.370472 -0.144212  0.281689
210 -0.394336  0.093607  0.304705
211  0.494573 -0.831247 -0.592908

[212 rows x 10 columns]

In [5]:
#K-NN method begins here
from sklearn.neighbors import KNeighborsClassifier

classifier = KNeighborsClassifier(n_neighbors=11)
X_train = X_train.astype('int64')
y_train = y_train.astype('int64')

classifier.fit(X_train,y_train.values.ravel())

y_pred = classifier.predict(X_test)

In [6]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred)*100)

59.154929577464785

In [7]:
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.58      0.82      0.68        38
           1       0.79      0.42      0.55        26
           2       0.00      0.00      0.00         7

    accuracy                           0.59        71
   macro avg       0.46      0.41      0.41        71
weighted avg       0.60      0.59      0.57        71